<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card{
          background-color:brown;
          color:white;
        }

    </style>
</head>
<body>
 <div class="card">
  <div class="card-header">
    Let the right people know you’re open to work
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>With the Open To Work feature, you can privately tell recruiters or publicly share with the MinkedIn community that you are looking for new job opportunities.</p>
      <footer class="blockquote-footer">MinkedIn <cite title="Source Title">Copyright 2023</cite></footer>
    </blockquote>
  </div>
</div>
</body>
</html>