<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in x %}
<div class="container">
     <div class="row mt-3 mb-3">
            <div class="col-12  " >
                <div class="card">
                    <div class="card-body" style="background: #F1F2B5;
background: -webkit-linear-gradient(to right, #135058, #F1F2B5);
background: linear-gradient(to right, #135058, #F1F2B5); color: white">
                        <p><strong>Company Name: </strong>{{i.cname}}</p>
                        <p><strong>Email: </strong>{{i.email}}</p>
                        <p><strong>Job Title: </strong>{{i.jtitle}}</p>
                        <p><strong>Job Type: </strong>{{i.jtype}}</p>
                        <p><strong>Work Type: </strong>{{i.wtype}}</p>
                        <p><strong>Experience: </strong>{{i.exp}}</p>
                        <p><strong>Qualification: </strong>{{i.qualify}}</p>
                        <a href="http://127.0.0.1:8000/jobapp/apply/{{i.id}}">Apply</a>
                        <a href="http://127.0.0.1:8000/jobapp/wishlist/{{i.id}}">Wishlist</a>

                      </div>
                </div>
            </div>
     </div>
</div>
{% endfor %}
</body>
</html>